<h1>WA MESA PORTAL</h1>

<p>Hello!</p>

<p>A new user, {{ user.username }} has registered at the MESA data warehouse portal using the email address: {{ user.email }}. </p>

<p>Please <a href="http://mesaportal.com/login">login</a> and proceed to the <a href="http://mesaportal.com/admin/users/">user management portal</a> to review their account and grant the necessary access.</p>

<p>Thank you,</p>
<p>MESA Portal Web</p>