.form-group > label.required:after {
    content: "*";
    font-size: 10px;
    margin-left: 3px;
    vertical-align: baseline;
    color: red;
}
.form-group > label.required, .radio-inline > label.required {
    color: #333 !important;
    font-size: 14px !important;
}

.form-group {
    margin-bottom: 25px;
}
